<div>Hi this is the Tic Tac Toe Lobby</div>
<script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/phaser.min.js") %>"></script>
<script defer type="module" src="<%= Routes.static_path(@conn, "/js/main.js") %>"></script>