<div>Welcome to Lip Sync battle!</div>
<%= content_tag :div, id: "video-player-id",
  phx_hook: "VideoPlayer",
  data: [video_id: "8jTjNMkWOzM"] do %>
<% end %>
<div>Messages</div>
<%= for message <- @messages do %>
<div><%= message %></div>
<% end %>
<%= form_for :chat_message, "#", [phx_submit: :send_message], fn _f -> %>
  <textarea rows="2" placeholder="Chat" name="message" value="<%= @draft_message %>">
  </textarea>
  <button type="submit">
    Send
  </buton>
<% end %>
