<div id="game-status"></div>
<div><em>X moves first.</em></div>
<div id="game-alerts"></div>

<div id="ttt-phaser-wrapper"></div>

<%= link("Return to Lobby", to: Routes.ttt_game_path(@conn, :lobby), id: "lobby-link", class: "d-none") %>
