<div id="phaser-pong-wrapper"></div>

<%= link("Return to Lobby", to: Routes.pong_path(@conn, :lobby)) %>

<div id="instructions"></div>
<div id="scoreboard"></div>
<div id="announcement"></div>