<h4>Welcome to the Lobby!</h4>

<div id="user-list">
</div>

<div id="lobby-chat-container">
</div>

<div>
  <textarea id="lobby-chat-input"
    rows="2"
    placeholder="Chat..."></textarea>

  <button id="lobby-chat-submit"
    class="button column"
    type="submit">
    Send
  </button>
</div>

<button id="win-test-button">
  Win a game
</button>